@import '@/styles/mixins';
.container {
  @include breakpoint(desktop) {
    max-width: 1024px;
    margin: 0 auto;
  }
}
.wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 10px;
  margin-bottom: 19px;
  border-radius: 14px;
  position: relative;
  overflow: hidden;
  @include breakpoint(tablet) {
    margin-top: 90px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 61px 74px 53px 59px;
  }

  @include breakpoint(desktop) {
    margin-top: 50px;
    padding: 61px 74px 53px 54px;
  }
}

.icon {
  margin-bottom: 2rem;
}

.heading {
  text-align: center;
  margin-bottom: 1.6rem;
  font-size: 20px;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: 0.75px;
  color: $primary-blue;
  @include breakpoint(tablet) {
    text-align: left;
    line-height: 0.75;
    margin-bottom: 23px;
    letter-spacing: 0.25px;
  }
}

.text {
  text-align: center;
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  max-width: 220px;
  color: $dark-grey;
  letter-spacing: 0.25px;
  @include breakpoint(tablet) {
    text-align: left;
    max-width: 350px;
    margin-bottom: 24px;
  }
}

.image_grid {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 56px;
  height: 52px;

  @include breakpoint(tablet) {
    display: none;
  }
}

.klarna_icon {
  left: -13px;
  position: absolute;
  top: 19px;
  @include breakpoint(tablet) {
    left: 19px;
    top: 148px;
  }
}
.laybuy_icon {
  bottom: -36px;
  position: absolute;
  left: 87px;
  @include breakpoint(tablet) {
    left: 84px;
    top: -85px;
  }
}
.affirm_icon {
  position: absolute;
  right: 65px;
  top: -2px;
  @include breakpoint(tablet) {
    left: 208px;
    top: -120px;
  }
}
.afterpay_icon {
  right: -31px;
  position: absolute;
  top: 37px;
  @include breakpoint(tablet) {
    left: 250px;
    top: 21px;
  }
}

.button {
  background-color: $primary-blue-light;
  padding: 18px 10px;
  min-width: 235px;
  border: none;
  border-radius: 12px;
  color: $white;
  font-size: 14px;
  @include breakpoint(tablet) {
    min-width: 228px;
  }
}

.list {
  display: none;

  @include breakpoint(tablet) {
    display: block;
    padding-top: 16px;
    padding-bottom: 24px;
  }
}

.listItem {
  font-size: 16px;
  color: $dark-grey;
  margin-bottom: 17px;
  display: flex;
  align-items: center;

  span {
    margin-left: 6px;
  }
}

.checkIcon {
  background-color: #0fb981;
  width: max-content;
  border-radius: 50%;
  padding: 4px 4px 2px 4px;
  svg {
    color: white;
    width: 14px;
    height: 14px;
  }
}

.imageContainer {
  display: none;

  @include breakpoint(tablet) {
    position: relative;
    height: 40%;
    width: 40%;
    display: block;
    display: flex;
    justify-content: center;
  }

  @include breakpoint(desktop) {
    height: 50%;
    width: 50%;
  }
}

.paylater {
  position: absolute;
  width: 100%;
  max-width: 190px;
  height: auto;
  top: -42px;

  @include breakpoint(desktop) {
    max-width: 290px;
  }
}
