@import '@/styles/mixins';

.search-form {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  max-width: 400px;
  margin: 0 auto;

  @include breakpoint(tablet) {
    max-width: 100%;
  }

  @include breakpoint(desktop) {
    max-width: 1024px;
    margin: 0 auto;
  }

  &__body {
    display: flex;
    flex-direction: column;

    &__group {
      margin-bottom: 1rem;
      text-align: left;

      &__label {
        display: block;
        margin-bottom: 0.5rem;
      }

      &__input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      &__info {
        margin-top: 0.5rem;
        font-size: 0.875rem;
        color: #555;
      }
    }

    &__submit {
      padding: 0.75rem;
      background-color: $primary-blue;
      border: none;
      color: $white;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;

      &:hover {
        background-color: $primary-blue-light;
      }
    }
  }

  &__tabs-wrapper {
    padding: 15px 18px;

    &__container {
      @include breakpoint(tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &__tabs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        @include breakpoint(tablet) {
          display: block;
          width: 70%;
        }

        &__tab {
          flex: 1;
          padding: 9px 0;
          background: none;
          color: $dark-grey;
          cursor: pointer;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          border: 1px solid #e6e9f0;
          border-radius: 8px;
          margin-right: 8px;

          &:last-child {
            margin-right: 0;
          }

          &.active {
            color: $white;
            background-color: $primary-blue-light;
          }

          @include breakpoint(tablet) {
            width: 95px;
          }
        }
      }

      &__radio {
        display: none;
        @include breakpoint(tablet) {
          display: block;
        }
      }
    }
  }
}
