@import '@/styles/mixins';
.container {
  padding-top: 55px;
  padding-bottom: 55px;
  @include breakpoint(tablet) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.title {
  color: $primary-blue;
  font-size: 23px;
  font-weight: 500;
  text-align: center;
  line-height: 30px;
  max-width: 290px;
  margin: 0 auto 20px auto;
  letter-spacing: 0.55px;

  @include breakpoint(tablet) {
    font-size: 32px;
    line-height: 40px;
    max-width: max-content;
  }
}

.subtitle {
  margin-bottom: 46px;
  text-align: center;
  color: $primary-blue;
  @include breakpoint(tablet) {
  
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.trustscore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 38px;
  color: $primary-blue;
  span {
    font-size: 14px;
  }
}

.iconContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.trustpilotIcon {
  width: 108px;
  height: auto;
}
